@media (max-width: 1280px){
    body{
        padding: 0 0px;
    }
}

@media (max-width: 768px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informacoes .descricao{
        width: 60%;
        text-align: center;
    }
}

@media (max-width: 425px){
    header{
        max-width: 300px;
    }
    header{
        width: 100%;
    }
    .direitos{
        font-size: 80%;
    } 
    
    body{
        padding: 40px;
    }
}